

<h1>Add a picture to be judged by the public. Cause internet judging is the best</h1>
<h6>click on the button to make this shit happen, yo</h6>

<img src="<%=params[:picture]%>">

<br>

<button id="pictureadd">Have the internet judge my face</button>

